body {
	font-size: 80%;
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 0.15em;	
	background-color: #efefef;
	}
		
ul {
    float: left;
	list-style-type: none;
	text-align: center;
    width: 625px;
    border-top: 2px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    padding: 15px;
	}

p {
	text-align: center;
    width: 600px;
	}
	
a {
    display: block;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	}
	
a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
	}
#page {
    width: 960px;
    border-width: 4px;
    border-style: double;
    border-color: #000;
    padding: 10px ;
}
#logo {width: 303px;}
